/* API reference admonition style */
.md-typeset .admonition.api,
.md-typeset details.api {
  border-color: #7c4dff;
}

.md-typeset .api > .admonition-title,
.md-typeset .api > summary {
  background-color: rgba(124, 77, 255, 0.1);
}

.md-typeset .api > .admonition-title::before,
.md-typeset .api > summary::before {
  background-color: #7c4dff;
  -webkit-mask-image: var(--md-admonition-icon--api);
  mask-image: var(--md-admonition-icon--api);
}

:root {
  --md-admonition-icon--api: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 5h10v2h2V3c0-1.1-.9-2-2-2H7c-1.1 0-2 .9-2 2v4h2V5zm8.41 11.59L20 12l-4.59-4.59L14 8.83 17.17 12 14 15.17l1.41 1.42zM10 15.17 6.83 12 10 8.83 8.59 7.41 4 12l4.59 4.59L10 15.17zM17 19H7v-2H5v4c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-4h-2v2z"/></svg>');
}
